<!-- Sidebar Start -->
<nav class="sidebar">

	<h3>Szukaj</h3>
	<form class="search">
		<input type="text" placeholder="Wprowadź zapytanie..."/>
	</form>

	<hr />

	<h3>Plan na dzisiaj</h3>

	<ul>
		<li><a href="#">Logika</a></li>
		<li><a href="#">Programowanie Struktualne i Obiektowe</a></li>
		<li><a href="#">Matematyka</a></li>
		<li><a href="#">Systemy Operacyjne</a></li>
	</ul>

	<hr />

	<h3>Do zrobienia</h3>

	<ul>
		<li><a href="#"><input type="checkbox" />Oddaj ksiązkę</a></li>
		<li><a href="#"><input type="checkbox" />Referat</a></li>
		<li><a href="#"><input type="checkbox" />Napisz program</a></li>
		<li><a href="#"><input type="checkbox" />Praca magisterska</a></li>
		<li><a href="#"><input type="checkbox" />Opłać semestr</a></li>
	</ul>

</nav>
<!-- Sidebar END -->